<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="speechContainer">
        <h1>UPLOAD NEW FILE</h1>
        <br>
        <br>
        <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <br>
        <br>
        <br>
        <input type="submit" id="submitbutton" value="Transcribe"/>
    <div>   
        <div>
            {{result}}
        </div>
</body>
</html>